.app {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
}

.leaflet-tile-container {
    pointer-events: all;
}

.Dropdown-control {
    -ms-flex: 1 1;
    flex: 1 1;
}

.Dropdown-root {
    position: absolute;
}

.Dropdown-menu {
    top: 0;
    left: 0;
}

.cellContainer {
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    visibility: visible;
}

.leaflet-left .leaflet-control {
    margin-bottom: 30px;
}

.rangeslider__fill {
    background: #3329a5 !important;
}

.rangeslider__handle {
    outline: none;
}

.rangeslider__handle:after {
    display: none;
}

// WEBPACK FOOTER //
// ./src/App.css